@media (max-width: 768px) {
    .contact-content{
    width: 400px;
    background-color: white;
    border-radius: 40px;
    margin-top: 50px;
    margin-left:30px;
}
.frame{
    width:400px;
    height:450px;
}

}
@media (min-width:1024px){
    .contact-content{
    width: 600px;
    background-color: white;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 30%;

}
.frame{
    width:600px;
    height:450px;
}
}
.contact-form{
    margin: 50px;
    
}
.body{
    background-color:#f2f2f2 ;
}
.mapbgimg{
    background-color: red;
    width:100px;
    height: 200px;
}