.styleul{
    --bs-scroll-height: 100px;
    /* margin-left: 900px; */
}
.btn{
    background-color: rgb(252, 145, 58);
    border-radius: 20px;
    font-weight:700;
    font-size: smaller;
    font-size:medium;
    
    color: aliceblue;
    margin-top:11px;
}
.styleul li{
    margin-right: 20px;
}
.imglogo{
    margin-left: 40px;
}
@media (min-width:1024px){
    .styleul{
        margin-left: 900px;
    }
}
@media (max-width:768px){
    .tgicon{
        margin-left: 150px;
     }
    .li a{
        margin-left:60px;

    }
}