/* .styleul{
    --bs-scroll-height: 100px;
    margin-left: 900px;
}
.navbar{
 
    top: 0px;
    z-index: 1000;
    height: 75px;
  
}

.styleul li{
    margin-right: 20px;
}
.imglogo{
    margin-left: 40px;
}
.holeNavbar{
    display: flex;
}

@media (min-width:1024px){
    .styleul{
        margin-left: 900px;
    }
}
@media (max-width:768px){
    .tgicon{
       margin-left:;
     }
    .li a{
        margin-left:60px;

    }
--------------------------------------------------------------------------------------------------------------------------------------------------------------------} */

.btn{
    background-color: rgb(243, 106, 27);
    border-radius: 20px;
    font-weight:700;
    font-size: smaller;
    font-size:medium;
    
    color: aliceblue;
    margin-top:11px;
}

.navbar-toggler{
    background-color: rgb(243, 106, 27);
    
}
@media (min-width:1024px){
    .navbar{
 position: sticky;
    top: 0px;
    z-index: 1000;
    height: 75px;
  
}
.rightNav{
    margin-left: 950px;
}
.nav-item a{
    margin-right: 30px;
}
.nav-item a:hover{
      color: rgb(0, 178, 169) !important;
    font-weight: 600;  
    border-bottom: solid 3px rgb(0, 178, 169);
    
}
}